.projects {
  margin: auto;
  left: 0;
  right: 0;
  max-width: 100%;
}

.projects .readout-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-client {
  font-style: italic;
}

.project-data {
  font-weight: bold;
}

.project-tasklist {
  list-style-type: none;
  padding: 0;
}
