/* this styling spaces the total/task hours per task/subtask and will be changed when we move the task hours and update page styling  */
.a-readout-item {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 5px;
  margin-right: 5px;
  width: 60px;
  height: 30px;
}