.task-list {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #fcfcff;
  border: 1px solid grey;
}

.readout-block {
  display: flex;
  align-items: center;
  margin: 0px;
}

.task-list > .task-list-ul {
  padding-top: 5px;
  padding-bottom: 5px;
}

.tasklist-title {
  display: flex;
  flex-direction: column;
}
